.navbar-dark a {
    display: block;
    color: rgb(2, 3, 5);
    text-align: center;
    padding: 15px 17px;
    font-size: 20px;
    text-align: center;
}


* {box-sizing: border-box;}

.navbar-dark {
    overflow: hidden;
    background-color: #0c5a5a;
}